<h1>contacts page</h1>

<div *ngFor="let contacto of listaContactos; let i=index">
    <div routerLink="{{contacto.id}}" [state]="{data:contacto, filtro:filtroSexo}"> <!--Utiliza el path raiz del componente-->
        <h6 class="contacto">{{contacto.nombre}}</h6>
        <button (click)="volverAHome(contacto)">enviar contacto</button>

    </div>
</div>
<ng-container *ngIf="filtroSexo =='mujer' || filtroSexo == 'hombre'; else completo">
    <p>Mostrando lista filtrada: ={{filtroSexo}}</p>
</ng-container>
<ng-template #completo>
    <p>Mostrando lista de contactos completa</p>
</ng-template>

<a routerLink="/home">Volver</a>

