<!--Formularoi Reactivo Básico-->
<form [formGroup]="miFormulario"> <!--En corchetes porque queresmo guardarlo en una variable-->
<!--Convertimos objeto a JSON-->
<p>{{miFormulario.value | json}}</p>
<!--Campos del formulario-->
<mat-form-field>
    <input matInput placeholder="Nombre" formControlName="nombre"/>
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="Apellido" formControlName="apellido"/>
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="Email" formControlName="email"/>
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="Telefono" formControlName="telefono"/>
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="Direccion" formControlName="direccion"/>
</mat-form-field>
</form>
