<h1>Juego amigo invisible</h1>
<h3>!Bienvenido!</h3>

    

 
 <ng-container *ngIf="contactoSeleccionado;else noSeleccionado">
 <h4>Amigo invisible: {{contactoSeleccionado.nombre}}</h4>
 </ng-container>
 <ng-template #noSeleccionado>  
    <p>Selecciona a tu amigo invisible</p>
 </ng-template >

 <a *ngIf="!token" routerLink="/login">Acceder a tu cuenta</a>

<button (click)="navegarAContacto()">Ver todos tus contactos</button>
<div>
 <p>Filtros:</p>
<a [routerLink]="['/contacts']" [queryParams]="{sexo:'mujer'}">amigas | </a>
<a [routerLink]="['/contacts']" [queryParams]="{sexo:'hombre'}">| amigos</a>
   
</div>

